.Coursedetails{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 , 0 , 0 , 0.15px);
}

.Coursedetails thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;

}

.Coursedetails th , .Coursedetails td{
    padding: 12px 15px;
}

.Coursedetails tbody tr{
    border-bottom: 1px solid #dddddd;

}

.Coursedetails tbody tr:nth-of-type(even){
    background-color: #f3f3f3;

}

.Coursedetails tbody tr:last-of-type{
    border-bottom: 2px solid #009879;

}




.Offerdetails{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0 , 0 , 0 , 0.15px);
}

.Offerdetails thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;

}

.Offerdetails th , .Offerdetails td{
    padding: 12px 15px;
}

.Offerdetails tbody tr{
    border-bottom: 1px solid #dddddd;

}

.Offerdetails tbody tr:nth-of-type(even){
    background-color: #f3f3f3;

}

.Offerdetails tbody tr:last-of-type{
    border-bottom: 2px solid #009879;

}
